#  Agenda
* Single and multiple line comments
* Variable Assign
* Python number and To check data type
* To convert data type
* Strings

# Python Comments

In [14]:
 print ("Hello, World") #see the output

Hello, World

In [15]:
#This is a comment
#written in
#more than just one line
print("Hello,Prashant")  #fggggf

Hello,Prashant

In [16]:
"""
This is a comment
written in
more than just one line """
print("Hello,World!")

Hello,World!

# Variable Assign

In [17]:
x=5  # number
y="John"  #string variables can be declared either
# by using single or double quotes:
print(y)

John

In [18]:
y

'John'

In [3]:
x=3

In [21]:
x

3

In [23]:
print(x)

3

In [25]:
x="John"
x='abc'
print(x)

abc

In [26]:
[1,2,3,4]

[1, 2, 3, 4]

In [29]:
x=[21,22,23,24]

In [30]:
x

[21, 22, 23, 24]

In [31]:
print(x)

[21, 22, 23, 24]

# Assign Value to Multiple Variables
* python allows you to multiple variables in one line:

In [40]:
x, y, z ="Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [41]:
x,y,z

('Orange', 'Banana', 'Cherry')

# Python Numbers
There are three numeric types in Python

* int
* float
* complex

In [1]:
x=10  #int --->Discrete
y= 2.8  #float --->continuous
z=1j  #complex & J=Imaginary

In [2]:
x,y,z

(10, 2.8, 1j)

# To check data type

In [3]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int, or integer, is a whole number,positive or negative, without decimals, of unlimited length

In [4]:
x=1
y=35656222554887711
z=-32

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [5]:
x=1.10
y=1.0
z=-35.56

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scientific numbers with "e" to indices 10

In [6]:
x=35e1
y=35e-1
z=12e4

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

350.0
3.5
120000.0
<class 'float'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [7]:
x=3+5j
y=5j
z=-5j


print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods

In [8]:
x=1
print(type(x))
a= float(x)
print(type(a))
print (a)

<class 'int'>
<class 'float'>
1.0

In [9]:
x=10.3 #float
print(type(x))
a= int(x)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [ ]:
a= "Hello"
a

In [ ]:
* Strings are Arrays
* Get the character at position 1 (remember that the first character has )

In [ ]:
#   01234567
a="Hello, World!"
print(a[5])

In [ ]:
b="Hello"
print(b[0:4])  # it stop before the last value of

# The len() method returns the length of a string:

In [1]:
a="Prashant"
len(a)

8

# * The lower() method returns the string in lower case:

In [2]:
a="Hello, World!"  #data
print(a.lower())   #data.Function

hello, world!

# * The upper() method returns the string in upper case:

In [ ]:
a="Hello, World!"
print(a.upper())

In [ ]:
* The relace() method replaces a string with another string:

In [ ]:
a="Hello, World!"
print(a.replace("H","J"))

# Command-line String Input

In [ ]:
x=input()
print("Hello", x)